**/*.env
*.swp
package-lock.json
__pycache__
**/__pycache__/
.pytest_cache
.venv
venv
*.egg-info
**/.DS_Store
*.pkl
.cdk.staging
staticfiles
mediafiles/
*.dump
**/build/
**/node_modules/
*.csr
*.crt
*.key
mediafiles
celerybeat-schedule*
prod_backup_*
notebooks/
.vscode/
repomix-output.*
.cursor/*
.tasks/*
manual/logs/*
